version: "3"

services:
  mongodb:
    image: mongo:latest
    environment:
      - MONGODB_DATABASE="secret-ingredient"
    ports:
      - 27017:27017
    volumes:
      - secret-ingredient:/data/db

volumes:
  secret-ingredient: