version: "3"

services:
  mongodb:
    image: mongo:latest
    environment:
      - MONGODB_DATABASE="secret-ingredient"
    ports:
      - 27017:27017
  test:
    image: mongo:latest
    environment:
      - MONGODB_DATABASE="test"
    ports:
      - 27018:27017
  mongoclient:
    image: mongoclient/mongoclient:latest
    container_name: mongoclient
    hostname: mongoclient
    depends_on:
      - mongodb
    ports:
      - 3300:3000
